/*

   The Groom Room
   Author: Steven Richard
   Date:   Dec 09, 2023
   Filename: homepagestyle.css
   This is the style sheet for the home page. 

*/

.homepage{
   
   width: 100%;
   height: 100%;
   overflow: auto;
}

header{
	display: flex;
	background-color: #737373;
	height: 148px;
	border-bottom: solid;
}

.logo {
	margin-left: 50px;
	opacity: 0;
    -webkit-animation: fadein 2s; /* for fade in animation of logo */
    -moz-animation: fadein 2s; 
    -ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    animation: fadein 2s;

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.contact_info{
		position:relative;
		float: right;
		
		flex-grow: 1;
		text-align: center;
		vertical-align: center;
			
}

.contact_info p{
	position:absolute;
    bottom:0;
    right:0;
	font-weight: 900;
	margin-right: 10px;
	margin-bottom: 40px;
	
}

.socials {
	position:absolute;
    bottom:0;
    right:0;
	display: flex;
	
}
.social a{
	
  float: right;
  padding: 20px 16px;
  text-decoration: none;
 
}
.socials a .facebook{
		width:42px;
		height:42px;
}

.socials a .instagram{
	
	margin-right: 10px;
	margin-top: 9px;
	width:25px;
	height:25px;
}

.socials a .twitter{
	margin-right: 10px;
	margin-top: 9px;
	width:25px;
	height:25px;
}

.nav{
	overflow: hidden;
	background-color: rgba(158, 158, 158, 0.68);
	width: 100%;

}

.nav a {
  float: right;
  display: inline-block;
  color: white;
  position: relative;
  text-align: center;
  padding: 20px 16px;
  font-size: 17px;
  text-decoration: none;
}

.nav a:after {
   content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 174, 216, 0.8);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav a:hover:after{
	transform: scaleX(1);
  transform-origin: bottom left;
	
}

.nav .doglogo{

	margin-left: 10px;
	margin-top: 9px;
	float: none;
	width:35px;
	height:35px;

	
}

.header_pic{
	
		width: 100%;
}

.main_contact{
	
	display: flex;
	width: 100%;
	background-color: rgba(255, 205, 231, 0.8);
	border: solid;
	
}

.main_contact .paragrah{
	
	padding: 100px;
	margin-left: 100px;
	margin-top: 200px;
	margin-bottom: 240px;
	
}

.main_contact .paragrah h2{
	
		font-size: 40px;
	
}

.main_contact .paragrah p{
	
		font-size: 18px;
	
}

.main_contact .main_form{
	
	float: right;
	padding: 50px;
	background-color: black;
	margin-top: 200px;
	margin-bottom: 240px;
	border-radius: 25px;
}

.button{

	background-color: rgba(255, 174, 216, 0.8);
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	margin-top: 20px;
		
}

.hours_of_operation{
	margin-top: 50px;
}
.footer{
	padding-top: 20px;
	display: flex;
	width: 100%;
	background-color: black;
	
}

.location{
	width: 25%;	
	text-align: left;
	margin-left: 40px;
}

.contact_form{
	
	width: 25%;	
	text-align: left;
	
}

.policies{
	width: 25%;	
	text-align: left;
	
}

.policies a{
	
	text-decoration: none;
}

.quick_links{
	
	width: 25%;	
	text-align: left;
	
}

.quick_links a{
	text-decoration: none;
}

.author{
	width: 100%;
	background-color: black;
	text-align: center;
	color: white;
	padding-top: 40px;
	padding-bottom: 40px;
}
